<div class="row">
  <div class="col-sm-4">
    <div *ngIf="alunoSelecionado">

      <app-titulo [titulo]="(alunoSelecionado.id === 0 ? 'Novo Aluno': 'Cod. aluno: ' + alunoSelecionado.id)">
        <button class="btn btn-default" (click)="voltar()">Fechar</button>
      </app-titulo>
        
    
      <form [formGroup]="alunoForm" (submit)="alunoSubmit()">
        <div class="form-group">
          <label for="exampleInput" class="form-label">Nome</label>
          <input type="text" formControlName="nome" class="form-control" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="exampleInput" class="form-label">Sobrenome</label>
            <input type="text" formControlName="sobrenome" class="form-control" placeholder="Sobrenome">
          </div>
          <div class="form-group">
            <label for="exampleInput" class="form-label">Telefone</label>
            <input type="text" formControlName="telefone" class="form-control" placeholder="Telefone">
          </div>
          <div class="form-group">
            <hr>
            <button class="btn btn-success" [disabled]="!alunoForm.valid">Salvar</button>
          </div>
      </form>
    
    </div>
  </div>
 
  <div  [ngClass]="{'col-sm-8': alunoSelecionado,'col-sm-12': !alunoSelecionado}">
    <div>
      <app-titulo [titulo]="titulo">
        <button class="btn btn-default" (click)="alunoNovo()">Cadastrar</button>
      </app-titulo>
    
      <table class="table table-hover">
          <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aluno of alunos" 
              style="cursor: pointer;">
                <th scope="row">{{aluno.id}}</th>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.sobrenome}}</td>
                <td>{{aluno.telefone}}</td>
                <td>
                  <div class="btn-group">
                    <button  (click)="alunoSelect(aluno)" class="text-dark btn btn-sm btn-outline-warning">Detalhes</button>
                    <button class="btn btn-sm btn-outline-primary" (click)="openModal(template)">Professores</button>
                    <button class="btn btn-sm btn-outline-danger" (click)="deletarAluno(aluno.id)">Deletar</button>
                  </div>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>

<ng-template #template>
    <div class="modal-body">
    <app-professores></app-professores>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" aria-label="Close" (click)="modalRef.hide()">
      FECHAR
    </button>
  </div>
</ng-template>