<div>
  <div *ngIf="accommodationSelected">
      <!-- <app-title [title]="(accommodationSelected.id === 0 ? 'Novo Alojamento': 'Cod. aluno: ' + accommodationSelected.id)"> -->
      <!-- <app-title [title]="'title'">
        <button class="btn btn-default" (click)="voltar()">Voltar para lista</button>
      </app-title>

      <form [FormGroup]="accommodationForm" (submit)="accommodationSubmit()">
        <div class="form-group">
          <label for="exampleInput" class="form-label">Nome</label>
          <input type="text" formControlName="nome" class="form-control" placeholder="Nome">
        </div>
          
        <div class="form-group">
          <hr>
          <button class="btn btn-success" [disabled]="!accommodationForm.valid">Salvar</button>
        </div>
      </form> -->
  </div>
</div>

<div>
  <div *ngIf="!accommodationSelected">
    <!-- <app-title [title]="title">
      <button class="btn btn-success" (click)="accommodationNew()">Cadastrar professor</button>
    </app-title> -->
  
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Estado</th>
              <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let accommodation of accommodations" style="cursor: pointer;" 
            >
              <th scope="row">{{accommodation.id}}</th>
              <td>{{accommodation.name}}</td>
              <td>{{accommodation.state}}</td>
              <td>
                <div class="btn-group">
                  <button (click)="openModal(template)" class="btn btn-sm btn-outline-primary">Alunos</button>
                  <button (click)="accommodationSelect(accommodation)" class="btn btn-sm btn-outline-danger">Editar</button>
                </div>
              </td>
            </tr>
          </tbody>
      </table>
  </div>
  
</div>



<ng-template #template>
<div class="modal-header">
  <h4 class="modal-title pull-left">Modal</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  This is a modal.
</div>
</ng-template>