  <div>
    <!-- <div *ngIf="petSelected"> -->
      <div>
        <app-title [title]="petSelected.id == 0 ? 'Novo Pet' : 'Cod: ' + petSelected.id">
          </app-title>

        <form [formGroup]="petForm" (submit)="submitPet()">
          
          <div class="form-group">
            <label for="exampleInput" class="form-label">Nome do Pet</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Nome do Pet">
          </div>
          <div class="form-group">
            <label for="exampleInput" class="form-label">Nome do tutor</label>
            <input type="text" formControlName="ownerName" class="form-control" placeholder="Nome do Pet">
          </div>
          <div class="form-group">
            <label for="exampleInput" class="form-label">Endereço do tutor</label>
            <input type="text" formControlName="ownerAddress" class="form-control" placeholder="Nome do Pet">
          </div>          
          <div class="form-group">
            <label for="exampleInput" class="form-label">Telefone do tutor</label>
            <input type="text" formControlName="ownerPhone" class="form-control" placeholder="Nome do Pet">
          </div>
          <div class="form-group">
            <label for="exampleInput" class="form-label">Motivo da internação</label>
            <input type="text" formControlName="cause" class="form-control" placeholder="Nome do Pet">
          </div>
          <div class="form-group">
            <label for="exampleInput" class="form-label">Estado de saúde</label>
            <input type="text" formControlName="hState" class="form-control" placeholder="Nome do Pet">
          </div>
          <div class="form-group">
            <label for="exampleInput" class="form-label">Alojamento de internação</label>
            <input type="text" formControlName="accomodationPetId" class="form-control" placeholder="Nome do Pet">
          </div>
            
          <div class="form-group">
            <hr>
            <button class="btn btn-success" [disabled]="!petForm.valid">Salvar</button>
          </div>
        </form>
    </div>
  </div>