<div class="container">
  <div class="d-flex justify-content-center">    
  <img src="assets/logo.png" href="#" style="display: block; width: 30%;">
  </div>

  <carousel>
    <slide>
      <div class="text-center py-5 bg-dark text-white">
        <h2>  ...  </h2>
        <div class="lead">
          <h3>"Um cão abana a cauda com o coração" (Martin Buxbaum)</h3>
          <p>Eles merecem o melhor!</p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-5 bg-dark text-white">
        <h2>Second custom content</h2>
        <div class="lead">
          <h3>Second slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-5 bg-dark text-white">
        <h2>Third custom content</h2>
        <div class="lead">
          <h3>Third slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum. </p>
        </div>
      </div>
    </slide>
  </carousel>

</div>
