<div class="container">
  <div class="d-flex justify-content-center">    
  <img src="assets/logo.png" href="#" style="display: block; width: 30%;">
  </div>

  <carousel>
    <slide>
      <div class="text-center py-5 bg-dark text-white">
        <h2>  ...  </h2>
        <div class="lead">
          <h3>"Um cão abana a cauda com o coração"</h3>
          <p>Martin Buxbaum</p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-5 bg-dark text-white">
        <h2></h2>
        <div class="lead">
          <h3>"Se você passar tempo com os animais, <br> corre o risco de se tornar uma pessoa melhor"</h3>
          <p>Oscar Wilde</p>
        </div>
      </div>
    </slide>
  </carousel>

</div>
