
  <div>
    <div *ngIf="professorSelecionado">
        <app-titulo [titulo]="(professorSelecionado.id === 0 ? 'Novo Professor': 'Cod. aluno: ' + professorSelecionado.id)">
          <button class="btn btn-default" (click)="voltar()">Voltar para lista</button>
        </app-titulo>

        <form [formGroup]="professorForm" (submit)="professorSubmit()">
          <div class="form-group">
            <label for="exampleInput" class="form-label">Nome</label>
            <input type="text" formControlName="nome" class="form-control" placeholder="Nome">
          </div>
            <!-- <div class="form-group">
              <label for="exampleInput" class="form-label">Disciplina</label>
              <input type="text" formControlName="disciplina" class="form-control" placeholder="Disciplina">
            </div> -->
            
          <div class="form-group">
            <hr>
            <button class="btn btn-success" [disabled]="!professorForm.valid">Salvar</button>
          </div>
        </form>
    </div>
  </div>
 
  <div>
    <div *ngIf="!professorSelecionado">
      <app-titulo [titulo]="titulo">
        <button class="btn btn-success" (click)="professorNovo()">Cadastrar professor</button>
      </app-titulo>
    
      <table class="table table-striped">
          <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let professor of professores" style="cursor: pointer;" 
              >
                <th scope="row">{{professor.id}}</th>
                <td>{{professor.nome}}</td>
                <td>{{professor.disciplina}}</td>
                <td>
                  <div class="btn-group">
                    <button (click)="openModal(template)" class="btn btn-sm btn-outline-primary">Alunos</button>
                    <button (click)="professorSelect(professor)" class="btn btn-sm btn-outline-danger">Editar</button>
                  </div>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
    
  </div>



<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>