<div class="container">

  <div>
    <div *ngIf="accommodationSelected && petIdSelected">
        
        <form [formGroup]="accommodationForm" (submit)="submitAccommodation()">
          
          <div class="form-group row">
            <div class="col-sm-auto">
              <label for="exampleInput" class="form-label">Pet Id</label>
              </div>
            <div class="col-sm-auto">
              <input type="text" formControlName="petId" class="form-control" placeholder="Nome">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-auto">
              <label for="exampleInput" class="form-label">Alojamento</label>
              </div>
            <div class="col-sm-auto">
              <input type="text" formControlName="id" class="form-control" placeholder="Nome">
            </div>
          </div>

         

          <div class="form-group">
            <hr>
            <button class="btn btn-success" [disabled]="!accommodationForm.valid">Salvar</button>
          </div>
        </form>
    </div>
  </div>

  <div *ngIf="!accommodationSelected || !petIdSelected">
    <app-title [title]="title">
    </app-title>

    <div>
      <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Acomodação</th>
              <th scope="col">Estado da Acomodação</th>
              <th scope="col">PetId</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let accommodation of accommodations" 
                  style="cursor: pointer;" (click)="selectAccommodation(accommodation);">
            >
              <th scope="row">{{accommodation.id}}</th>
              <td>{{accommodation.nomeAccommodation}}</td>
              <td>{{accommodation.status}}</td>
              <td>{{accommodation.petId}}</td>
             
            </tr>
          </tbody>
      </table>
    </div>
    

  </div>
  
</div>