<div class="container">
  <br>
  <div >
    <app-title [title]="title"> 
      <div class="btn-group" *ngIf="filterVisibility">
        <label class="btn btn-success"  (click)="filterAccommodations(3)"
        uncheckable tabindex="0" role="button">Todos</label>
        <label class="btn btn-info"  (click)="filterAccommodations(0)"
        uncheckable tabindex="0" role="button">Livre</label>
        <label class="btn btn-info" (click)="filterAccommodations(1)"
        uncheckable tabindex="0" role="button">Ocupado</label>
        <label class="btn btn-info"  (click)="filterAccommodations(2)"
        uncheckable tabindex="0" role="button">Esperando dono</label>
      </div>        
    </app-title>    
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Acomodação</th>
            <th scope="col">Estado da Acomodação</th>
            <th scope="col">PetId</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let accommodation of accommodations" 
          style="cursor: pointer;" (click)="acoommodationSelected(accommodation.id)">
          <td>{{accommodation.accommodationName}}</td>
          <td>
            <container-element [ngSwitch]="accommodation.accommodationState">
              <some-element *ngSwitchCase="0">Livre</some-element>  
              <some-element *ngSwitchCase="1">Ocupado</some-element>  
              <some-element *ngSwitchCase="2">Esperando dono</some-element>              
              <some-element *ngSwitchDefault>-</some-element>
            </container-element>
          </td>
          <td>{{accommodation.petId}}</td>             
        </tr>
      </tbody>
    </table>
  </div>
  
  
</div>

</div>